In [14]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df=pd.read_csv("../../data/Stock Regression/TSLA Historical Data.csv")
df.head(15)

          Date   Price    Open    High     Low  Vol.(millions)  Change
0   10/31/2024  249.85  257.99  259.75  249.25           66.58 -0.0299
1   10/30/2024  257.55  258.04  263.35  255.82           53.99 -0.0076
2   10/29/2024  259.52  264.51  264.98  255.51           80.52 -0.0114
3   10/28/2024  262.51  270.00  273.54  262.24          107.65 -0.0248
4   10/25/2024  269.19  256.01  269.49  255.32          161.61  0.0334
5   10/24/2024  260.48  244.68  262.12  242.65          204.49  0.2192
6   10/23/2024  213.65  217.13  218.72  212.11           80.94 -0.0198
7   10/22/2024  217.97  217.31  218.22  215.26           43.27 -0.0040
8   10/21/2024  218.85  218.90  220.48  215.73           47.33 -0.0084
9   10/18/2024  220.70  220.71  222.28  219.23           49.61 -0.0009
10  10/17/2024  220.89  221.59  222.08  217.90           50.79 -0.0020
11  10/16/2024  221.33  221.40  222.82  218.93           49.63  0.0080
12  10/15/2024  219.57  220.01  224.26  217.12           62.99  0.0019
13  10/14/2024  219.16  220.13  221.91  213.74           86.29  0.0062
14  10-11-2024  217.80  220.13  223.34  214.38          142.63 -0.0878

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            503 non-null    object
 1   Price           503 non-null    float64
 2   Open            503 non-null    float64
 3   High            503 non-null    float64
 4   Low             503 non-null    float64
 5   Vol.(millions)  503 non-null    float64
 6   Change          503 non-null    float64
dtypes: float64(6), object(1)
memory usage: 27.6+ KB

The change field is string type and has '%' symbol. this function and code block is to remove that

In [4]:
temp_df=pd.read_csv('../../data/Stock Regression/TSLA Historical Data.csv',usecols=['Change'])

In [5]:
# def clean_str(strings):
#     return strings[:-1]

In [6]:
# for rows in temp_df.iterrows():
#     rows=clean_str(rows)

In [7]:
print(temp_df)

     Change
0   -0.0299
1   -0.0076
2   -0.0114
3   -0.0248
4    0.0334
..      ...
498 -0.0501
499 -0.0364
500  0.0015
501 -0.0564
502  0.0012

[503 rows x 1 columns]

In [8]:
convert_dict={'Change': float}
df=df.astype(convert_dict)

In [9]:
df.columns

Index(['Date', 'Price', 'Open', 'High', 'Low', 'Vol.(millions)', 'Change'], dtype='object')

In [10]:
df.describe()

,Price,Open,High,Low,Vol.(millions),Change
count,503.000000,503.000000,503.000000,503.000000,503.000000,503.000000
mean,207.977654,207.995308,212.282823,203.557535,117.459384,0.000869
std,38.433817,38.433365,38.853357,37.971154,40.693217,0.037138
min,108.100000,103.000000,111.750000,101.810000,43.270000,-0.123300
25%,179.825000,179.500000,183.635000,175.790000,87.800000,-0.019800
50%,205.660000,204.040000,208.900000,198.450000,111.510000,0.000800
75%,241.050000,241.925000,246.615000,237.215000,137.785000,0.018650
max,293.340000,296.040000,299.290000,289.520000,306.590000,0.219200

To check whether there are any NULL values present in the dataset

In [11]:
df.isnull().sum()

Date              0
Price             0
Open              0
High              0
Low               0
Vol.(millions)    0
Change            0
dtype: int64

The date entries are not in the same format in the .csv file. 
Changing that to dd-mm-yyyy format

In [12]:
df['Date'] =pd.to_datetime(df.Date,format='mixed')
print(df['Date'])

0     2024-10-31
1     2024-10-30
2     2024-10-29
3     2024-10-28
4     2024-10-25
         ...
498   2022-11-07
499   2022-11-04
500   2022-11-03
501   2022-11-02
502   2022-11-01
Name: Date, Length: 503, dtype: datetime64[ns]

In [13]:
df['Date']=df['Date'].dt.strftime('%d/%m/%y')
print(df['Date'])

0      31/10/24
1      30/10/24
2      29/10/24
3      28/10/24
4      25/10/24
         ...
498    07/11/22
499    04/11/22
500    03/11/22
501    02/11/22
502    01/11/22
Name: Date, Length: 503, dtype: object

Convert the cleaned dataframe to csv file and add it to the repository

In [ ]:
df.to_csv("../../data/Stock Regression/Cleaned/TSLA Cleaned Data.csv")